# <h1 align="center">Recommender Systems Project</h1>
# <h1 align="center">Erfan Aliannezhadi</h1>

### Introduction
In this project, We are building a recommender system for site IMDB


### Introduction of data set features
#### movies.csv
* **movieid**
* **title**
* **genres**

#### rating.csv
* **userid**
* **movieid**
* **rating**
* **timestamp**

### Content Based Recommender System


<p>First, we do the necessary imports</p>

In [39]:
import pandas as pd

First, we read the datasets

In [4]:
movies_df = pd.read_csv('movies.csv')
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

First, we separate the year values and store them in a separate column

In [5]:
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))', expand=False)
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)', expand=False)
movies_df['title'] = movies_df['title'].str.replace('(\(\d\d\d\d\))', '', regex=True)
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

movies_df

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,Action|Animation|Comedy|Fantasy,2017
9738,193583,No Game No Life: Zero,Animation|Comedy|Fantasy,2017
9739,193585,Flint,Drama,2017
9740,193587,Bungo Stray Dogs: Dead Apple,Action|Animation,2018
9741,193609,Andrew Dice Clay: Dice Rules,Comedy,1991

Then make the genre values as a list

In [6]:
movies_df['genres'] = movies_df.genres.str.split('|')
movies_df

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,"[Action, Animation, Comedy, Fantasy]",2017
9738,193583,No Game No Life: Zero,"[Animation, Comedy, Fantasy]",2017
9739,193585,Flint,[Drama],2017
9740,193587,Bungo Stray Dogs: Dead Apple,"[Action, Animation]",2018
9741,193609,Andrew Dice Clay: Dice Rules,[Comedy],1991

In this step, we make each genre into a column

In [23]:
moviesWithGenres_df = movies_df.copy()

for index, row in movies_df.iterrows():
    for genre in row['genres']:
        moviesWithGenres_df.at[index, genre] = 1
moviesWithGenres_df = moviesWithGenres_df.fillna(0)

moviesWithGenres_df.drop('genres', axis=1, inplace=True)
moviesWithGenres_df.drop('year', axis=1, inplace=True)
moviesWithGenres_df.drop('title', axis=1, inplace=True)

moviesWithGenres_df

,movieId,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9738,193583,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9739,193585,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9740,193587,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9741,193609,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Now we take the input values of a user and store them in a data frame

In [8]:
userInput = [
    {'title': 'Breakfast Club, The', 'rating': 5},
    {'title': 'Toy Story', 'rating': 3.5},
    {'title': 'Jumanji', 'rating': 2},
    {'title': "Pulp Fiction", 'rating': 5},
    {'title': 'Akira', 'rating': 4.5}
]
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

then we add movie id to user input

In [10]:
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
inputMovies = pd.merge(inputId, inputMovies)
inputMovies = inputMovies.drop('genres', axis=1).drop('year', axis=1)
inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

then we select user movies from moviesWithGenres_df dataframe

In [24]:
userMovies = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputMovies['movieId'].tolist())]
userMovies

,movieId,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257,296,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
973,1274,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1445,1968,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

and now we make user profile

In [33]:
userMovies = userMovies.reset_index(drop=True)
userGenreTable = userMovies.drop('movieId', axis=1)

userProfile = userGenreTable.transpose().dot(inputMovies['rating'])

userProfile

Adventure             10.0
Animation              8.0
Children               5.5
Comedy                13.5
Fantasy                5.5
Romance                0.0
Drama                 10.0
Action                 4.5
Crime                  5.0
Thriller               5.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
War                    0.0
Musical                0.0
Documentary            0.0
IMAX                   0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

and finally we got to create the recommendation table

In [36]:
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])
recommendationTable_df = ((genreTable * userProfile).sum(axis=1)) / (userProfile.sum())
recommendationTable_df

movieId
1         0.594406
2         0.293706
3         0.188811
4         0.328671
5         0.188811
            ...
193581    0.440559
193583    0.377622
193585    0.139860
193587    0.174825
193609    0.188811
Length: 9742, dtype: float64

we sort them.

In [37]:
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
recommendationTable_df

movieId
134853    0.734266
148775    0.685315
6902      0.678322
117646    0.678322
81132     0.671329
            ...
49917     0.000000
62662     0.000000
50851     0.000000
2459      0.000000
5784      0.000000
Length: 9742, dtype: float64

And this is the twenty best movies for this user

In [38]:
movies_df.loc[movies_df['movieId'].isin(recommendationTable_df.head(20).keys())]

,movieId,title,genres,year
559,673,Space Jam,"[Adventure, Animation, Children, Comedy, Fanta...",1996
1390,1907,Mulan,"[Adventure, Animation, Children, Comedy, Drama...",1998
2250,2987,Who Framed Roger Rabbit?,"[Adventure, Animation, Children, Comedy, Crime...",1988
3460,4719,Osmosis Jones,"[Action, Animation, Comedy, Crime, Drama, Roma...",2001
4631,6902,Interstate 60,"[Adventure, Comedy, Drama, Fantasy, Mystery, S...",2002
5490,26340,"Twelve Tasks of Asterix, The (Les douze travau...","[Action, Adventure, Animation, Children, Comed...",1976
5819,32031,Robots,"[Adventure, Animation, Children, Comedy, Fanta...",2005
6448,51939,TMNT (Teenage Mutant Ninja Turtles),"[Action, Adventure, Animation, Children, Comed...",2007
6455,52287,Meet the Robinsons,"[Action, Adventure, Animation, Children, Comed...",2007
6462,52462,Aqua Teen Hunger Force Colon Movie Film for Th...,"[Action, Adventure, Animation, Comedy, Fantasy...",2007
6879,62956,Futurama: Bender's Game,"[Action, Adventure, Animation, Comedy, Fantasy...",2008
7441,81132,Rubber,"[Action, Adventure, Comedy, Crime, Drama, Film...",2010
7550,85261,Mars Needs Moms,"[Action, Adventure, Animation, Children, Comed...",2011
8349,108540,Ernest & Célestine (Ernest et Célestine),"[Adventure, Animation, Children, Comedy, Drama...",2012
8357,108932,The Lego Movie,"[Action, Adventure, Animation, Children, Comed...",2014
8597,117646,Dragonheart 2: A New Beginning,"[Action, Adventure, Comedy, Drama, Fantasy, Th...",2000
8806,130520,Home,"[Adventure, Animation, Children, Comedy, Fanta...",2015
8900,134853,Inside Out,"[Adventure, Animation, Children, Comedy, Drama...",2015
9169,148775,Wizards of Waverly Place: The Movie,"[Adventure, Children, Comedy, Drama, Fantasy, ...",2009
9282,157865,Ratchet & Clank,"[Action, Adventure, Animation, Children, Comed...",2016

### Collaborative Based Recommender System

first we do some imports

In [79]:
from math import sqrt
import numpy as np
import pandas as pd

then we read the data frames

In [41]:
movies_df = pd.read_csv('movies.csv')
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [43]:
ratings_df = pd.read_csv('ratings.csv')
ratings_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

First, we separate the year values and store them in a separate column

In [44]:
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))', expand=False)
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)', expand=False)
movies_df['title'] = movies_df['title'].str.replace('(\(\d\d\d\d\))', '', regex=True)
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

movies_df

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,Action|Animation|Comedy|Fantasy,2017
9738,193583,No Game No Life: Zero,Animation|Comedy|Fantasy,2017
9739,193585,Flint,Drama,2017
9740,193587,Bungo Stray Dogs: Dead Apple,Action|Animation,2018
9741,193609,Andrew Dice Clay: Dice Rules,Comedy,1991

we remove genre column because in collaborative systems we dont need them

In [45]:
movies_df = movies_df.drop('genres', axis=1)
movies_df

      movieId                               title  year
0           1                           Toy Story  1995
1           2                             Jumanji  1995
2           3                    Grumpier Old Men  1995
3           4                   Waiting to Exhale  1995
4           5         Father of the Bride Part II  1995
...       ...                                 ...   ...
9737   193581  Black Butler: Book of the Atlantic  2017
9738   193583               No Game No Life: Zero  2017
9739   193585                               Flint  2017
9740   193587        Bungo Stray Dogs: Dead Apple  2018
9741   193609        Andrew Dice Clay: Dice Rules  1991

[9742 rows x 3 columns]

we remove timestamp from ratings dataframe

In [46]:
ratings_df = ratings_df.drop('timestamp', axis=1)
ratings_df

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

Now we take the input values of a user and store them in a data frame

In [47]:
userInput = [
    {'title': 'Breakfast Club, The', 'rating': 5},
    {'title': 'Toy Story', 'rating': 3.5},
    {'title': 'Jumanji', 'rating': 2},
    {'title': "Pulp Fiction", 'rating': 5},
    {'title': 'Akira', 'rating': 4.5}
]
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

then we add movie id to user input

In [49]:
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
inputMovies = pd.merge(inputId, inputMovies)
inputMovies = inputMovies.drop('year', axis=1)
inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

now we find the users who has seen the same movies

In [50]:
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset

       userId  movieId  rating
0           1        1     4.0
16          1      296     3.0
320         4      296     1.0
422         4     1968     4.0
516         5        1     4.0
...       ...      ...     ...
99510     609      296     4.0
99534     610        1     5.0
99552     610      296     5.0
99636     610     1274     5.0
99664     610     1968     4.0

[784 rows x 3 columns]

and we group that by user id

In [53]:
userSubsetGroup = userSubset.groupby(['userId'])
userSubsetGroup.get_group(1)

C:\Users\Erfan Aliannezhadi\AppData\Local\Temp\ipykernel_8496\1721940702.py:2: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  userSubsetGroup.get_group(1)

    userId  movieId  rating
0        1        1     4.0
16       1      296     3.0

computing the similarity of users to input user

In [58]:
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['rating'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i ** 2 for i in tempRatingList]) - pow(sum(tempRatingList), 2) / float(nRatings)
    Syy = sum([i ** 2 for i in tempGroupList]) - pow(sum(tempGroupList), 2) / float(nRatings)
    Sxy = sum(i * j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList) * sum(tempGroupList) / float(
        nRatings)

    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy / sqrt(Sxx * Syy)
    else:
        pearsonCorrelationDict[name] = 0

pearsonCorrelationDict.items()

dict_items([((1,), -1.0), ((4,), 0), ((5,), 1.0), ((6,), -1.0), ((7,), 0), ((8,), 0), ((10,), 0), ((14,), 0), ((15,), 1.0), ((16,), 0), ((17,), 1.0), ((18,), 1.0), ((19,), -0.5), ((20,), 0), ((21,), 0), ((23,), -1.0), ((24,), 0), ((26,), 0), ((27,), -1.0), ((28,), 0), ((29,), 0), ((31,), 0), ((32,), 1.0), ((33,), 1.0), ((37,), 0), ((38,), 0), ((39,), 0), ((40,), 0), ((41,), 0), ((42,), 0), ((43,), -1.0), ((44,), 0), ((45,), 0.5000000000000009), ((46,), 0), ((47,), 0), ((50,), 0.15713484026367722), ((51,), 0), ((54,), 0), ((56,), 0), ((57,), -0.7385489458759964), ((58,), 0), ((62,), 1.0), ((63,), -0.4999999999999982), ((64,), 0.0), ((66,), 0.5000000000000009), ((67,), 0), ((68,), 0.0), ((69,), 0), ((70,), 0), ((71,), 0), ((72,), 0), ((73,), 0), ((74,), 0), ((76,), 1.0), ((78,), 0), ((81,), 0), ((82,), -1.0), ((84,), 0), ((86,), 0), ((89,), 0), ((90,), 0), ((91,), 0.43852900965351443), ((93,), -1.0), ((94,), 0), ((95,), -1.0), ((96,), 0), ((98,), 0), ((99,), 0), ((100,), 0), ((102,), 0), ((103,), 0.5222329678670935), ((104,), 0), ((105,), 1.0), ((107,), -1.0), ((108,), 0), ((109,), 0), ((110,), 0), ((112,), 1.0), ((115,), 0), ((117,), 1.0), ((118,), 0), ((119,), 1.0), ((121,), 0), ((122,), 0.8660254037844387), ((123,), 0), ((124,), 1.0), ((125,), 1.0), ((126,), 0), ((129,), 0), ((130,), 1.0), ((131,), 0), ((132,), 1.0000000000000004), ((133,), 0), ((134,), 1.0), ((135,), 0.8703882797784892), ((136,), 0), ((137,), -1.0), ((140,), 0.5), ((141,), 0), ((142,), 0), ((143,), 0), ((144,), 1.0), ((145,), -1.0), ((149,), 0), ((151,), 0), ((152,), 0), ((153,), 0.8660254037844379), ((155,), -1.0), ((156,), 0.1889822365046138), ((159,), -1.0), ((160,), 0.8660254037844402), ((161,), 0), ((162,), 0), ((166,), -0.6546536707079772), ((167,), -1.0), ((168,), 0), ((169,), 1.0), ((170,), 0), ((171,), 0), ((173,), 0), ((174,), 0), ((176,), 0), ((177,), 0.0), ((178,), 1.0), ((179,), 0), ((181,), 0), ((182,), 0.9428090415820635), ((185,), 0), ((186,), 0), ((187,), 1.0), ((191,), 1.0), ((192,), 0), ((193,), 1.0), ((195,), 0), ((197,), 0), ((198,), 0.0), ((199,), 0), ((200,), 0.7559289460184552), ((201,), 0), ((202,), 0.5222329678670935), ((203,), 0), ((204,), 0), ((206,), 0), ((210,), 0), ((211,), 0), ((212,), 0), ((213,), 0), ((214,), 0), ((215,), 0), ((216,), -1.0), ((217,), 0.30151134457776363), ((219,), 0.45124262819713973), ((220,), 0), ((221,), 1.0), ((222,), 1.0), ((223,), -1.0), ((224,), 0), ((226,), 0.9438798074485389), ((227,), 0), ((229,), 0), ((230,), 0), ((231,), 0), ((232,), 0.6546536707079778), ((233,), 1.0), ((234,), 0), ((235,), 0), ((239,), 1.0), ((240,), -0.8660254037844386), ((241,), 0), ((242,), 0), ((246,), 0), ((247,), -1.0), ((249,), 0), ((251,), 0), ((252,), 0), ((254,), 1.0), ((259,), 0), ((260,), 1.0), ((261,), 0), ((262,), 0), ((263,), -1.0), ((264,), 0), ((266,), 0.5), ((268,), 0), ((269,), 0), ((270,), 0), ((273,), -1.0), ((274,), 0.716114874039432), ((275,), -0.4999999999999982), ((276,), 0), ((277,), 0), ((279,), 1.0), ((280,), 0), ((282,), -1.000000000000007), ((283,), 0), ((284,), 0), ((285,), 0), ((286,), 0), ((287,), 0), ((288,), 0.6005325641789633), ((290,), 1.0), ((291,), 0), ((292,), -1.0000000000000018), ((293,), 0), ((294,), 0.5000000000000009), ((295,), 0), ((296,), 0), ((298,), 0.9592712306918567), ((299,), 0), ((301,), 0), ((302,), 0), ((304,), 0.8660254037844356), ((305,), 1.0), ((307,), 0.9655810287305759), ((308,), 0), ((309,), 0), ((313,), -0.4999999999999929), ((314,), -1.0), ((317,), 0), ((318,), 0.44486512077567225), ((321,), 0), ((322,), 0.5057805388588731), ((323,), 0.0), ((325,), 0), ((326,), 0), ((328,), -0.5000000000000002), ((330,), 0.9035942578600878), ((331,), 0), ((332,), 0), ((334,), 1.0), ((335,), 0), ((336,), 1.0), ((337,), 0), ((338,), 0), ((339,), -1.0), ((340,), 0), ((341,), 0), ((343,), 0), ((346,), 0), ((347,), 1.0), ((348,), 0), ((349,), 0), ((350,), 0), ((351,), 0), ((352,), 0), ((353,), 0.8660254037844356), ((354,), 0), ((356,), 0), ((357,), 0.5606119105813882), ((359,), 0.8660254037844448), ((362,), 0), ((363,), 0), ((364,), 0), ((365,), 0), ((367,), 0), ((368,), 0), ((370,), 0), ((371,), 0), ((372,), 0.142857142857144), ((373,), 0.866025403784439), ((374,), 0), ((377,), 0), ((378,), 0), ((379,), 0), ((380,), 0), ((381,), 0.6546536707079778), ((382,), 1.0), ((384,), 0), ((385,), 0), ((386,), 0), ((387,), -0.18898223650461649), ((389,), 0), ((391,), 0.8660254037844387), ((395,), 0), ((396,), 0), ((399,), 1.0), ((400,), 0), ((401,), 0), ((402,), 0), ((403,), 0), ((404,), 0), ((405,), 0), ((409,), 0), ((410,), 0), ((411,), 0.8660254037844356), ((412,), 0), ((413,), 0), ((414,), 0.9376144618769914), ((415,), 0), ((416,), 0), ((417,), 0), ((418,), 0), ((419,), 0), ((420,), 0), ((422,), -1.0), ((423,), 0), ((424,), 0), ((425,), 0.8660254037844387), ((426,), -1.0), ((427,), 0), ((428,), 0), ((432,), -0.8660254037844386), ((433,), 0), ((434,), 0.9864036607532465), ((436,), 0), ((437,), 0), ((438,), 0), ((440,), 0), ((441,), 0), ((443,), 0), ((444,), 0), ((445,), 0), ((446,), 1.0), ((447,), 0), ((448,), 0.30151134457776363), ((451,), 0), ((452,), 0), ((453,), 0), ((454,), 0), ((456,), 0), ((458,), 0), ((460,), -1.0), ((462,), 0.8029550685469661), ((463,), 0), ((464,), 0), ((468,), -1.0), ((469,), 0.8164965809277261), ((470,), 0.0), ((471,), -1.0), ((474,), 0.11720180773462392), ((475,), 0), ((476,), -0.8660254037844402), ((477,), 0.4385290096535153), ((479,), 0), ((480,), 0.7844645405527362), ((482,), -1.0), ((483,), 0.08006407690254357), ((484,), 0.7205766921228925), ((486,), 0), ((488,), 0), ((489,), 1.0), ((490,), 1.0), ((492,), 0), ((497,), 0), ((498,), 0), ((500,), 0), ((501,), 0), ((503,), 0), ((504,), 0), ((509,), -1.0), ((512,), 1.0), ((513,), 0), ((514,), 0), ((517,), 1.0), ((519,), 0), ((522,), 1.0), ((523,), 0), ((524,), 0), ((525,), 1.0), ((526,), 0), ((527,), 1.0), ((528,), 1.0), ((529,), 0), ((533,), 0), ((534,), -1.0), ((540,), 0), ((541,), 0), ((542,), 0), ((544,), 0), ((550,), 0), ((551,), 0), ((552,), 0), ((553,), 0), ((555,), 0.5000000000000009), ((558,), 0), ((559,), -0.5), ((560,), 0.9819805060619666), ((561,), 0.5222329678670935), ((562,), 0.9999999999999858), ((563,), 1.0), ((564,), 0), ((565,), 0), ((566,), 0), ((567,), -1.0), ((568,), 0), ((569,), 0), ((570,), 0.8660254037844448), ((572,), 0), ((573,), 0.8660254037844264), ((574,), 0), ((575,), 0), ((577,), 0), ((579,), 0), ((580,), 1.0), ((583,), 0), ((584,), -1.0), ((585,), 0), ((586,), 0), ((587,), 0), ((588,), 0), ((589,), 0), ((590,), 0.9607689228305233), ((592,), 0), ((593,), 0), ((594,), 0), ((596,), -1.0), ((597,), 1.0), ((599,), 0.7666866491579839), ((600,), 0.18442777839082938), ((601,), 0), ((602,), 1.0), ((603,), 0.052414241836095235), ((604,), 0.0), ((605,), -0.7205766921228919), ((606,), 0.9146591207600472), ((607,), 0.0), ((608,), 0.920736884379251), ((609,), 1.0), ((610,), -0.47140452079103173)])

and we make this dict into data frame

In [63]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF['userId'] = pearsonDF['userId'].apply(lambda x: x[0])
pearsonDF.index = range(len(pearsonDF))
pearsonDF

     similarityIndex  userId
0          -1.000000       1
1           0.000000       4
2           1.000000       5
3          -1.000000       6
4           0.000000       7
..               ...     ...
414         0.914659     606
415         0.000000     607
416         0.920737     608
417         1.000000     609
418        -0.471405     610

[419 rows x 2 columns]

we get the top 10 most similar users

In [64]:
topUsers = pearsonDF.sort_values(by='similarityIndex', ascending=False)
topUsers.head(10)

     similarityIndex  userId
91               1.0     132
417              1.0     609
23               1.0      33
393              1.0     580
379              1.0     563
358              1.0     525
361              1.0     528
22               1.0      32
8                1.0      15
2                1.0       5

we add rating column to dataframe

In [87]:
topUsersRating = topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
topUsersRating = topUsersRating[topUsersRating['similarityIndex'] != 0]
topUsersRating

       similarityIndex  userId  movieId  rating
0                  1.0     132        1     2.0
1                  1.0     132       17     3.0
2                  1.0     132       29     2.0
3                  1.0     132       32     3.0
4                  1.0     132       34     1.5
...                ...     ...      ...     ...
90678             -1.0     282    91529     4.0
90679             -1.0     282   103335     3.5
90680             -1.0     282   106782     4.5
90681             -1.0     282   134130     4.0
90682             -1.0     282   139385     4.5

[59081 rows x 4 columns]

and we add the weightedRating column

In [88]:
topUsersRating['weightedRating'] = topUsersRating['similarityIndex'] * topUsersRating['rating']
topUsersRating

       similarityIndex  userId  movieId  rating  weightedRating
0                  1.0     132        1     2.0             2.0
1                  1.0     132       17     3.0             3.0
2                  1.0     132       29     2.0             2.0
3                  1.0     132       32     3.0             3.0
4                  1.0     132       34     1.5             1.5
...                ...     ...      ...     ...             ...
90678             -1.0     282    91529     4.0            -4.0
90679             -1.0     282   103335     3.5            -3.5
90680             -1.0     282   106782     4.5            -4.5
90681             -1.0     282   134130     4.0            -4.0
90682             -1.0     282   139385     4.5            -4.5

[59081 rows x 5 columns]

group by movie id and use sum aggregation.

In [97]:
tempTopUsersRating: pd.DataFrame = topUsersRating.groupby('movieId').sum()[['similarityIndex', 'weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex', 'sum_weightedRating']
tempTopUsersRating = tempTopUsersRating[tempTopUsersRating['sum_similarityIndex'] != 0]
tempTopUsersRating

         sum_similarityIndex  sum_weightedRating
movieId
1                  35.525241          107.920189
2                  35.944521           98.545876
3                   8.897914           22.254573
4                   0.050453           -0.991308
5                   6.848541           14.516821
...                      ...                 ...
188675              0.444865            1.557028
188833              0.444865            2.001893
189381              0.444865            1.112163
189713              0.802955            2.007388
190183              0.157135            0.549972

[8658 rows x 2 columns]

so we made recommendation dataframe

In [98]:
recommendation_df = pd.DataFrame()
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating'] / \
                                                             tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.describe()

       weighted average recommendation score        movieId
count                           8.658000e+03    8658.000000
mean                            2.871472e+11   37820.076230
std                             5.214455e+13   48791.659125
min                            -1.407375e+15       1.000000
25%                             2.500000e+00    3018.250000
50%                             3.288190e+00    6856.500000
75%                             3.976351e+00   68340.000000
max                             4.550270e+15  190183.000000

and sort it descending

In [99]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df

         weighted average recommendation score  movieId
movieId
85885                             4.550270e+15    85885
2900                              5.629500e+14     2900
91630                             3.040984e+02    91630
835                               9.803135e+01      835
80166                             7.415801e+01    80166
...                                        ...      ...
3130                             -1.230715e+02     3130
2492                             -2.814750e+14     2492
1783                             -3.753000e+14     1783
2255                             -5.629500e+14     2255
63540                            -1.407375e+15    63540

[8658 rows x 2 columns]

and we extract the full information for each movie

In [100]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

      movieId                                              title  year
647       835                                            Foxfire  1996
662       867                                            Carpool  1996
669       881                                          First Kid  1996
673       888  Land Before Time III: The Time of the Great Gi...  1995
1332     1804                                   Newton Boys, The  1998
2183     2900                                      Monkey Shines  1988
7408    80166                                        Switch, The  2010
7572    85885                  Room in Rome (Habitación en Roma)  2010
7774    91630               Mission: Impossible - Ghost Protocol  2011
9170   148881                                  World of Tomorrow  2015